/* Common Styles */

body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

/* Fonts */

@font-face {
    font-family: "HelveticaNeueBd";
    src: url("./fonts/HelveticaNeueBd.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeueThin";
    src: url("./fonts/HelveticaNeueThin.ttf") format("truetype");
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("./fonts/HelveticaNeueMedium.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

h1 {
    font-family: "HelveticaNeueBd", sans-serif;
    font-size: 68px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0px;
    text-align: center;
}

h2 {
    color: #000;
    font-family: "HelveticaNeueThin", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 200;
    line-height: 0px; /* 105% */
    letter-spacing: 1.6px;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-family: "HelveticaNeueMedium", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
}